<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UrlForExternalApi" value="https://api.openweathermap.org/data/2.5/weather?lat=55.79&lon=49.12&lang=ru&appid=5c6602453fefa2b08e907fde0a5652a3&units=metric" />
    <add key="Localhost" value="localhost:9092" /> 
  </appSettings>
</configuration>